header {
  background: rgba(255,255,255,0.95);
  border-bottom: 6px double black;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 1;
}
@media(min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

header .logo {
  width: 10rem;
  padding: 1rem;
}

header ul {
  display: flex;
}
@media(max-width: 800px) {
  header ul {
    font-size: 90%
  }
}

header ul li a:link {
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: block;
}

header ul li a:visited {
  color: #000;
}

header ul li a:hover {
  color: red;
}

main {
  position: relative;
  top: 16rem;
  text-align: center;
}
@media(min-width: 800px) {
  main {
    margin: 0 auto;
    width: 800px;
  }
}
@media(min-width: 1200px) {
  main {
    width: 1200px;
  }
}
@media(min-width: 1600px) {
  main {
    width: 1600px;
  }
}

.google-maps {
  padding: 2em 0;
}

footer .social {
  display: flex;
  justify-content: center;
}

footer .icon {
  font-size: 3.6rem;
  display: block;
  margin: 1.6rem auto;
  padding: 2rem;
}

footer .icon:hover {
  background: rgba(255,255,255,0.1)
}

.section {
  padding: 5rem 2.5%;
}

.section:nth-child(odd) {
  background: #000;
  border-top: 14rem double #FFF;
  color: #FFF;
}

.section:nth-child(odd):first-of-type {
  border-top: none;
}

.section:nth-child(even) {
  background: #FFF;
  border-top: 14rem double #000;
  color: #000;
}

#crew .members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media(min-width: 800px) {
  #crew .members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

#crew .member {
  border-left: 3px double #fff;
  margin: 1rem;
}

#crew .member .name {
  letter-spacing: 0.025em;
  font-size: 162%;
}

@media(min-width: 800px) {
  #crew .member {
    border: 0;

    border-bottom: 3px double #fff;
  }
}

.logo-large {
  width: 20rem;
  max-width: 50%;
  display: block;
  margin: 0 auto;
}