header {
  background: rgba(255,255,255,0.90);
  border-bottom: 1px solid #333;
  box-shadow: 0 1px 2px #000;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 1;
  transition: .3s all;
}
header:hover {
  background: #fff;
}
@media(min-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

header .logo {
  margin: 0;
  padding: 0 1.5rem 0 0;
  height: 2.6rem;
}
@media(max-width: 800px) {
  header .logo {
    height: 1rem;
  }
}

header ul {
  display: flex;
  font-family: "Passion One", sans-serif;
  font-size: 217%;
}
@media(max-width: 800px) {
  header ul {
    font-size: 100%;
  }
}

header ul li a:link {
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.15s all;
  border-top: 6px double transparent;
  border-bottom: 6px double transparent;
}

header ul li a:visited {
  color: #000;
}

header ul li a:hover {
  color: red;
  border-bottom: 6px double red;
}

header ul li a:active {
  font-style: normal;
  border-bottom: 36px double #000;
}

main {
  text-align: center;
}
@media(min-width: 800px) {
  main {
    margin: 0 auto;
    width: 800px;
  }
}
@media(min-width: 1200px) {
  main {
    width: 1200px;
  }
}
@media(min-width: 1600px) {
  main {
    width: 1600px;
  }
}
@media(max-width: 1600px) {
  .hide-mobile {
    display: none;
  }
}

.google-maps {
  padding: 2em 0;
}

footer p {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 90%;
}

footer .social {
  display: flex;
  justify-content: center;
}

footer .icon {
  font-size: 3.6rem;
  display: block;
  margin: 1.6rem auto;
  padding: 2rem;
  position: relative;
  transition: 0.15s all;
}
footer .icon:hover {
  transform: rotate(-9deg);
}

footer .icon:hover {
  background: rgba(255,255,255,0.1)
}

.anchor {
  position: relative;
  top: -7.1rem;
}
@media(max-width: 800px) {
  .anchor {
    top: -5rem;
  }
}

.section {
  padding: 2.5rem 2.5% 5rem 2.5%;
}

.black {
  background: #000;
  border-bottom: 3.6rem double #FFF;
  color: #FFF;
}
.white {
  background: #FFF;
  border-bottom: 3.6rem double #000;
  color: #000;
}
.white:last-of-type {
  border-bottom: none;
  margin-bottom: 3.5rem;
}

#crew .members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media(min-width: 800px) {
  #crew .members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

#crew .member {
  border-left: 3px double #fff;
  margin: 1rem;
}

#crew .member .name {
  letter-spacing: 0.025em;
  font-size: 162%;
}

@media(min-width: 800px) {
  #crew .member {
    border: 0;
    border-bottom: 3px double #fff;
  }
}

.logo-large {
  width: 20rem;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding: 3em;
}

.carousel {
  margin: 0 auto;
  padding-top: 7.2rem;
}
@media(max-width: 800px) {
  .carousel {
    padding-top: 5rem;
  }
}
.carousel img {
  max-width: unset;
  width: 100%;
}
.carousel h3, .carousel p {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.666);
  line-height: 2;
  margin-bottom: 1rem;
}
.carousel h3 {
  font-family: "Abril Fatface", serif;
}
@media(max-width: 800px) {
  .carousel h3 {
    font-size: 24px; font-size: 2.4rem;
    line-height: 1.366;
  }
  .carousel p {
    font-size: 90%;
    display: none;
  }
}
.carousel-control-next, .carousel-control-prev {
  width: 7.5%;
  padding-top: 5rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}