header {
  background: rgba(245,245,245,0.85);
  border-bottom: 1px solid #1e1e1e;
  box-shadow: 0 1px 2px #1e1e1e;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fafafa;
  z-index: 1;
  transition: .3s all;
}
header:hover {
  background: rgba(245,245,245,1);
}
/* @media(min-width: 801px) { */
  header {
    flex-direction: row;
    justify-content: space-between;  
  }
/* } */

header .logo {
	margin: 0;
	padding: 0 0 0 0;
	height: 18.9rem;
	position: absolute;
	top: 0;
	left: 0;
}

@media(max-width: 800px) {
  header .logo {
	margin: 0;
    height: 12rem;
  }
}

header ul {
  display: flex;
  font-family: "Passion One", sans-serif;
  font-size: 200%;
  margin-left: 21rem;
}
@media(max-width: 800px) {
  header ul {
    font-size: 133%;
	margin-left: 13rem;
  }
}
@media(max-width: 500px) {
  header ul {
    font-size: 100%;
	margin-left: 13rem;
  }
}

header ul li a:link {
	line-height: 7.6rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #1e1e1e;
  display: block;
  transition: 0.15s all;
  border-top: 6px double transparent;
  border-bottom: 6px double transparent;
}
@media(max-width: 800px) {
header ul li a:link {
	line-height: 3.4rem;
	padding: 1rem 2rem;
  }
}
@media(max-width: 500px) {
header ul li a:link {
	line-height: 3.4rem;
	padding: 1rem 0.5rem;
  }
}

header ul li a:visited {
  color: #1e1e1e;
}

header ul li a:hover {
  color: #cc2229;
  border-bottom: 6px double #cc2229;
}

header ul li a:active {
  font-style: normal;
  border-bottom: 36px double #1e1e1e;
}

@media(max-width: 800px) {
header ul li a:active {
  font-style: normal;
  border-bottom: 28px double #1e1e1e;
};
}

main {
  text-align: center;
  padding-top:7em;
}
@media(min-width: 801px) {
  main {
    margin: 0 auto;
    margin: 0 auto;
    width: 800px;
  }
}
@media(min-width: 1200px) {
  main {
    width: 1200px;
  }
}
@media(min-width: 1600px) {
  main {
    width: 1200px;
  }
}
@media(max-width: 800px) {
  .hide-mobile {
    display: none;
  }
}

.google-maps {
  padding: 2em 0;
}

footer p {
  font-size: 85%;
}

footer .social {
  display: flex;
  justify-content: center;
}

footer .icon {
  font-size: 3.6rem;
  display: block;
  margin: 1.6rem auto;
  padding: 2rem;
  position: relative;
  transition: 0.15s all;
}
footer .icon:hover {
  transform: rotate(-9deg);
}

.anchor {
  position: relative;
  top: -7.1rem;
}
@media(max-width: 800px) {
  .anchor {
    top: -5rem;
  }
}

.section {
  padding: 2.5rem 2.5% 5rem 2.5%;
}

.black {
  background: #1e1e1e;
  border-bottom: 3.6rem double #fafafa;
  color: rgb(245,245,245);
}
.white {
  background: rgb(245,245,245);
  border-bottom: 3.6rem double #1e1e1e;
  color: #1e1e1e;
}
.white:last-of-type {
  border-bottom: none;
  margin-bottom: 3.5rem;
}

#crew .members {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media(min-width: 801px) {
  #crew .members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media(max-width: 800px) {
  #crew .members {
	align-items: center;
  }
}
#crew .member {
  max-width:300px;
}


#crew .member {
  margin: 1rem;
}

#crew .member .name {
  letter-spacing: 0.025em;
  font-size: 133%;
}

@media(min-width: 801px) {
  #crew .member {
    border: 0;
    /* border-bottom: 3px double #fafafa; */
  }
}
#crew .memberImg {
	padding: 2rem;
	box-sizing: border-box;
}

.carousel {
	display:none;
  margin: 0 auto;
}
@media(max-width: 800px) {
  .carousel {
    padding-top: 5rem;
  }
}
.carousel img {
  max-width: unset;
  width: 100%;
}
.carousel h3, .carousel p {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.666);
  line-height: 2;
  margin-bottom: 1rem;
}
.carousel h3 {
  font-family: "Abril Fatface", serif;
}
@media(max-width: 800px) {
  .carousel h3 {
    font-size: 24px; font-size: 2.4rem;
    line-height: 1.366;
  }
  .carousel p {
    font-size: 90%;
    display: none;
  }
}
.carousel-control-next, .carousel-control-prev {
  width: 7.5%;
  padding-top: 5rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

#pressLink, #pageLink, #crewLink, #contactLink {
	
}
#pressLink, #press {
	display: none;
}