html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-size: 18px; font-size: 1.8rem;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

h1, h2, h3, p {
  line-height: 2em;
}

h1 {
  font-size: 74.8px; font-size: 7.478rem;
}

h2 {
  font-size: 56.1px; font-size: 5.61rem;
  font-family: "Passion One", serif;
}

h3 {
  font-size: 42.1px; font-size: 4.21rem;
}

a:link, a:visited {
  color: #6D6DBF;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #4444BF;
}

img {
  max-width: 100%;
}