html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-size: 18px; font-size: 1.8rem;
  margin: 0;
  padding: 0;
  background: rgba(245,245,245,1);
  color: #1e1e1e;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, p {
  line-height: 1.5em;
}

h1 {
  font-size: 64.8px; font-size: 6.478rem;
  letter-spacing: 0.035em;
  font-weight: bold;  
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 46.1px; font-size: 4.61rem;
  letter-spacing: 0.035em;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
h3 {
  font-size: 32.1px; font-size: 3.21rem;
  letter-spacing: 0.035em;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

@media(max-width: 500px) {

	h1 {
  font-size: 54.8px; font-size: 5.478rem;
	}
	h2 {
  font-size: 36.1px; font-size: 3.61rem;
	  letter-spacing: 0.025em;
	}
	h3 {
  font-size: 22.1px; font-size: 2.21rem;
	}
}

a:link, a:visited {
  color: #307cf4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover {
  color: #175fd1;
}

a:active {
  font-style: italic;
}

img {
  max-width: 100%;
}