html {
  font-size: 62.5%;
  margin: 0;
}

body {
  font-size: 18px; font-size: 1.8rem;
  margin: 0;
  padding: 0;
  background: rgba(245,245,245,1);
  color: #1e1e1e;
  font-family: "Fira Sans", sans-serif;
}

h1, h2, h3, p {
  line-height: 1.8em;
}

h1 {
  font-size: 74.8px; font-size: 7.478rem;
}

h2 {
  font-size: 56.1px; font-size: 5.61rem;
  font-family: "Abril Fatface", serif;
  letter-spacing: 0.025em;
}

h3 {
  font-size: 42.1px; font-size: 4.21rem;
}

a:link, a:visited {
  color: #307cf4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover {
  color: #175fd1;
}

a:active {
  font-style: italic;
}

img {
  max-width: 100%;
}